a:any-link {
    text-decoration: none;
    color:#A43A6E;
}
h1, h2{
    font-family: 'Montserrat','Helvetica Neue','helvetica',arial,sans-serif;
    font-weight: 900;
}
h3{
    font-family: 'Oswald','Bebas Neue',condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
h1,h2,h4,h5,h6{
    text-align: center;
    width: 100%;
}

#board1{
    height: 100vh;
    width: 100%;
    background: url(../img/friendsFood.jpg) no-repeat center center #000;
    background-size: cover;
    margin: 0px;
    padding: 20vh 0px 0px;
}
.row.logo-container{
    text-align: center;
    background: rgba(145,1,77,0.7);
    padding: 0px 0px 20px;
    color: #FFF;
    margin: 0px 0px 40px;
}
.row.logo-container h1, .row.logo-container h2{
    text-align: center;
    color: #FFF;
}
.montBold{
    font-family: 'Montserrat','Helvetica Neue',helvetica,arial,sans-serif;
    font-weight: 900;
}
.oswald{
    font-family:'Oswald','Bebas Neue','Impact',condensed,sans-serif;
}
.row.logo-container h1{
    font-size: 9rem;
    line-height: 9rem;
    margin: 0px;
    padding: 0px;
}
.row.logo-container h2{
    font-size: 2.1rem;
    line-height: 2.1rem;
    font-weight: 100;
    padding: 0px;
}
.row.logo-container .relax{
    font-weight: 700;
}

.row.selection-container{
    width: 90%;
    margin: 0px auto;
    background: rgba(0,0,0,0.3);
    min-height: 250px;
    border-radius: 20px 20px 80px 80px;
}
.row.selection-container h2{
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    background: #85B13C;
    width: 50%;
    height: 70px;
    font-style: italic;
    text-shadow: 2px 2px 0px #507614;
    cursor: pointer;
}
.row.selection-container h2.inactive{
    background: #689520;
    color: #3e5e0b;
    text-shadow: none;
}
#deliverIt label, #deliverIt input{
    float:left;
}
.btn, button.deliver-btn {
    margin: 0px auto 20px;
    text-align: center;
    border: 5px solid #000;
    width: 90%;
    padding: 30px;
    display:block;
    border-radius: 200px;
    font-family: 'Oswald','Bebas Neue','Impact',condensed,sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(255,255,255,0.8);
    color: #A43A6E;
    transform: scale(1.0);
    transition: all .25s ease .125s;
    }
    .deliverCat.btn.circle-btn{
        color: #000;
    }
    .deliverCat.btn.circle-btn:hover{
        color: #FFF;
    }
    .btn:hover{
        background: #000;
        color: #FFF;
    }
    .hide {
        display: none;
    }
    .flex.hide{
        display: none;
    }
    .flex {
        display: flex;
    }
    #enterZip{
        flex-direction: row;
        flex-wrap:wrap;
        padding: 5px;
        border: none;
      }
      #locationInput.location{
        text-align: right;
        margin: 0px auto;
        max-width: 187.2%;
      }
      
      input#zipSearch{
        flex-basis: 20%;
        margin: 0px auto 7px auto;
        border-radius: 5px;
        max-width: 100px;
        border: 1px solid #999;
        padding: 0px 5px;
        color: #999;
      }
      .zipVarStore.btn{
        padding: 0px 5px;
        background: #000;
        color:#FFF;
        margin-bottom: 0px;
        border: none;
      }
      .zipVarStore.btn:hover{
        background: #a43a6e;
      }
      
      
      
      #enterZip{
          transition: all .5s;
          background: #FFF;
          font-family: 'Oswald','Bebas Neue','Impact',condensed,sans-serif;
          font-size: 1.75rem;
          border-radius: 200px;
          border: none;
      }